.output {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 40px 0 60px 0;
    gap: 20px;
}

.output-container {
    background: #525252;
    padding: 22px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    font-size: 24px;
}

.output-copiar {
    background: #2ab2ff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    color: #043a59;
}

@media (max-width: 1000px) {
    .output {
        grid-template-columns: 1fr;
        padding-bottom: 40px;
    }

    .output-copiar {
        width: 80px;
        padding: 20px;
        justify-self: center;
    }
}

@media (max-width: 350px) {
    .output {
        padding: 20px 0 40px 0;
    }

    .output-container {
        font-size: 18px;
        width: 240px;
        padding: 14px;
        justify-self: center;
    }

    .output-copiar {
        font-size: 16px;
        width: 60px;
        padding: 14px;
    }
}