body{
    background-color: #F0F0F0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    display: grid;
    justify-items: center;
    margin-top: 100px;
    
}

.logo{
    max-width: 100%;
    width: 480px;
}

.container-input{
    background-color: #FFF;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    margin: 60px;
    height: 130px;
    font-size: 22px;
    padding: 0px 40px 0px;
    border-radius: 10px;
}

.checkbox{
    margin-left: 40px;
    margin-right: 20px;
    width : 20px;
    height : 20px;

}

.tamanho{
    margin-right: 20px;
}


.password{
    background-color: #FFF;
    flex-wrap: wrap;
    display: flex;
    place-content: center;
    margin-top: 20px;
    height: 60px;
    font-size: 22px;
    border-radius: 10px;
    width:480px;
}

.copyPassword{
    background-color: #000;
    display: grid;
    color: #FFF;
    place-content: center;
    margin-left: 20px;
    margin-top: 20px;
    height: 60px;
    font-size: 22px;
    padding: 0px 40px 0px;
    border-radius: 10px;
    width: 200px;
}

.container-output{
    display: flex;
    flex-wrap: wrap;
    place-content: center;
}

footer{
    margin-top: 70px;
}